<!DOCTYPE HTML>
<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>
<body>
	<div id="chartContainer" style="height: 300px; width:100%;">
	</div>
    <script src="../static/js/time_percent.js"></script>
	<div id="chart2" style="height: 300px; width: 100%;">
	</div>
	<script src="../static/js/column_total.js"></script>
	<div id="pieChart" style="height: 300px; width: 100%;">
	</div>
	<script src="../static/js/pie_total.js"></script>

</body>
</html>